Package: @PKG_DEBIAN_NAME@
Version: @PKG_VERSION@
Architecture: @PKG_ARCH@
Maintainer: The Sia Foundation <hello@sia.tech>
Installed-Size: @PKG_INSTALLED_SIZE@
Section: net
Priority: optional
Homepage: @PKG_HOMEPAGE@
Description: @PKG_DESCRIPTION@
@PKG_LONG_DESCRIPTION@
