#!/bin/sh
set -e

PKG=@PKG_NAME@

case "$1" in
remove|upgrade|purge)
    if [ "$1" = purge ]; then
        rm -f "/etc/systemd/system/"*.wants/"$PKG.service"
        rm -rf "/etc/$PKG" "/var/lib/$PKG"
        deluser --system --quiet "$PKG" >/dev/null 2>&1 || true
    fi
    if [ -d /run/systemd/system ]; then
        systemctl daemon-reload || true
    fi
    ;;
esac

exit 0
