Package: renterd
Version: 1.0.2
Architecture: arm64
Maintainer: The Sia Foundation <hello@sia.tech>
Priority: optional
Section: net
Description: Renterd: The Next-Gen Sia Renter
Homepage: https://github.com/SiaFoundation/renterd
